* {
  font-family: sans-serif;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

body {
  padding: 60px;
}

input {
  font-size: 1.2rem;
  width: 100%;
  border-radius: 10px;
  transition: all 200ms ease;
}

input:focus {
  border: 10px;
}

.card {
  align-content: center;
  background: #eeeeee;
  border: 1px solid grey;
  border-radius: 6px;
  margin: 10px 10px;
  overflow: hidden;
  text-align: center;
}

.card p {
  padding: 5px;
}

.card img {
  max-height: 170px;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
